.signin {
    position: relative;
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.links__container {
    margin-top: 22px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.error__container__signin {
    position: absolute;
    bottom: -50px;
}
.error__signin {
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #f590b2;
}