.signup {
    position: relative;
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.name__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.links__signup {
    justify-content: right;
}
.error__container__signup {
    position: absolute;
    bottom: -50px;
}
.error__signup {
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #f590b2;
}